/* Body CSS */

/* search container CSS */
.search-container {
  margin: 100px auto 20px;
  text-align: center;
  max-width: 100%;
}

.search-container .search-input {
  width: 40%;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: #000000;
  outline: none;
  position: relative;
}

.search-container .clear-btn {
  width: 20px;
  height: 70px;
  box-sizing: border-box;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px 1px solid #aabcca;
  border-right: 0;
  color: #000000;
  outline: none;
  /* position: absolute; */
 
}

.search-container .search-btn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0768b3;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
  /* position: absolute; */
  border: 1px 0 1px solid #aabcca;
}

.search-container .search-btn:hover {
  background-color: #016034;
}

/* error message css */
.error-container {
  text-align: center;
  font-size: large;
  margin: 20px 0;
}

